{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 14.10.2020 à 19h00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis corporis porro provident obcaecati, sequi praesentium.</p>
            <p>Autem quis nesciunt repellendus adipisci et doloribus similique, excepturi enim, consequatur, possimus est! Laborum, omnis!</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 14.10.2020 à 19h00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Minima aspernatur fuga, sequi sed atque cupiditate! Eveniet ea ad dolore recusandae. Sit, sunt doloremque.</p>
            <p>Nulla suscipit consequuntur corporis porro vitae excepturi, numquam exercitationem dolor blanditiis accusamus adipisci nesciunt doloremque.</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 14.10.2020 à 19h00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Enim iusto ab pariatur earum sint minima rerum deserunt voluptatum esse, magnam expedita eos quo.</p>
            <p>Officia adipisci doloribus eos, quo quia earum reprehenderit odit fugit magni dolores ut voluptas? Et!</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

</section>
{% endblock %}